[user]
email = petri.lehtonen@fortum.com
name = Petri Lehtonen

# define command which will be used when "nvim" is set as a merge tool
[mergetool "nvim"]
cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"

# set "nvim" as tool for merging
[merge]
tool = nvim

# automatically launch merge tool without displaying a prompt
[mergetool]
prompt = false

[alias]
sw = switch
st = status
l  = log --oneline
lt = log --oneline -n15
co = checkout
cm = commit -m
root = !git rev-parse --show-toplevel

[credential]
helper = osxkeychain

[pull]
rebase = true

[push]
autoSetupRemote = true

[fetch]
prune = true

[core]
editor = nvim
excludesfile = ~/.gitignore_global
