[user]
email = petri.j.lehtonen@gmail.com
name = Petri Lehtonen

# include local gitconfig
[includeIf "gitdir:~/code/dotfiles/git/gitconfig.local"]
path = ~/code/dotfiles/git/gitconfig.local

# set email, name and other work related settings
[includeIf "gitdir:~/code/work/"]
path = ~/code/work/.gitconfig

[credential "https://github.com"]
helper =
helper = !gh auth git-credential

[credential "https://gist.github.com"]
helper =
helper = !gh auth git-credential

[core]
editor = nvim
excludesfile = ~/code/dotfiles/git/gitignore.local

[alias]
sw = switch
st = status
l  = log --oneline
lt = log --oneline -n15
co = checkout
cm = commit -m
root = !git rev-parse --show-toplevel
pushf = push --force-with-lease --force-if-includes

# set "nvim" as tool for merging
[merge]
tool = nvim
conflictStyle = zdiff3

# automatically launch merge tool without displaying a prompt
[mergetool]
prompt = false

# define command which will be used when "nvim" is set as a merge tool
[mergetool "nvim"]
cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"

[fetch]
prune = true

[pull]
	rebase = true

[rebase]
updateRefs = true

[push]
autoSetupRemote = true
